<header class="d-flex flex-row align-items-top justify-content-between p-4">
  <nav class="d-flex flex-row align-items-top">
    <h2 class="me-4">{{this.todo.title}}</h2>
    <app-status [status]="this.todo.status">
      {{this.todo.statusText}}
    </app-status>
  </nav>
  <nav class="d-flex flex-row align-items-center">
    <a href="javascript:void(0)" (click)="this.edit()">編輯</a>
    <a href="javascript:void(0)" (click)="this.delete()">刪除</a>
  </nav>
</header>
<section class="p-4">
  <p [innerHtml]="this.formatDescriptionHtml(this.todo.description) | sanitize"></p>
</section>
