@import "variables";

:host {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  width: 100%;
  margin: 0 auto;
}

header {
  height: 4rem;
  position: relative;
  z-index: map-get($layout-level, "canvus");
  box-shadow: 12px 1px 9px 0 rgba(63, 63, 68, 0.15);

  input {
    &:checked {
      &+label {
        &+section {
          display: block;

          &+app-menu {
            transform: translateX(0);
          }
        }
      }
    }
  }

  label {
    &+section {
      display: none;
      position: fixed;
      z-index: map-get($layout-level, "cover");
      top: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.6);
      width: 100vw;
      height: 100vh;

      &+app-menu {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        z-index: map-get($layout-level, "important");
        transition: 0.5s;
        transform: translateX(-100%);
      }
    }
  }
}

a {
  &:not(:last-child) {
    margin-right: 0.5rem;
  }

  text-decoration: none;
}

@media screen and (min-width: map-get($grid-breakpoints, "xxl")) {
  :host {
    width: map-get($container-max-widths, "xxl");
  }
}

@media screen and (min-width: map-get($grid-breakpoints, "xl")) {
  :host {
    width: map-get($container-max-widths, "xl");
  }
}

@media screen and (max-width: map-get($grid-breakpoints, "md")) {}
