@import "variables";

:host {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  width: 100%;
  margin: 0 auto;
}

header {
  height: 4rem;
  position: relative;
  z-index: map-get($layout-level, "canvus");
  box-shadow: 12px 1px 9px 0 rgba(63, 63, 68, 0.15);
}

a {
  &:not(:last-child) {
    margin-right: 0.5rem;
  }

  text-decoration: none;
}

@media screen and (min-width: map-get($grid-breakpoints, "xxl")) {
  :host {
    width: map-get($container-max-widths, "xxl");
  }
}

@media screen and (min-width: map-get($grid-breakpoints, "xl")) {
  :host {
    width: map-get($container-max-widths, "xl");
  }
}

@media screen and (max-width: map-get($grid-breakpoints, "md")) {
  app-menu {
    display: none;
  }
}
