<section class="d-md-block d-none" #tMenu>
  <app-menu *ngIf="this.user"></app-menu>
</section>
<main [style.width]="'calc(100vw - ' + tMenu.clientWidth + 'px)'">
  <header #tHeader class="bg-white d-flex flex-row-reverse align-items-center justify-content-between px-4 py-3">
    <nav class="d-flex flex-row align-items-center">
      <ng-template [ngTemplateOutlet]="this.user ? tUser : tLogin"></ng-template>
    </nav>
    <ng-container *ngIf="this.user">
      <input #tMobileMenu id="mobile-menu" type="checkbox" class="d-none">
      <label for="mobile-menu">
        <em class="icon-list d-md-none d-block"></em>
      </label>
      <section (click)="tMobileMenu.checked = false">
      </section>
      <app-menu></app-menu>
    </ng-container>
  </header>
  <div #tPage class="scroll-bar pb-4_2" appResponsiveViewport [responseBuffers]="[tHeader]">
    <ng-content></ng-content>
  </div>
  <footer></footer>
</main>


<ng-template #tLogin>
  <a (click)="this.$auth.signWithGoogle()" href="javascript:void(0)">登入</a>
</ng-template>

<ng-template #tUser>
  <p class="d-flex flex-row align-items-center me-2">
    <em class="icon-man ms-0 me-1 cg-font-darkest"></em>
    {{this.user!.name}}
  </p>
  <a (click)="this.$auth.logout()" href="javascript:void(0)">登出</a>
</ng-template>
