<app-dialog (close)="this.close()">
  <nav [formGroup]="this.form" title class="d-flex flex-row align-items-center">
    <h2>{{this.todo ? "編輯代辦事項" : "新增代辦事項"}}</h2>
    <app-switch-button *ngIf="this.form.controls['completed'].enabled" formControlName="completed" class="d-block ms-4">
    </app-switch-button>
  </nav>
  <form [formGroup]="this.form">
    <h3>標題</h3>
    <input formControlName="title" class="form-control" type="text">
    <h3 class="mt-4">敘述</h3>
    <textarea class="form-control" formControlName="description" (input)="this.autoResized($event.target)"></textarea>
  </form>
  <footer footer class="d-flex flex-row-reverse align-items-center px-4 bg-light">
    <app-button (OnClick)="this.submit()" [disabled]="this.form.invalid" [size]="this.sizes.Small">送出</app-button>
  </footer>
</app-dialog>
